* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}
#logotipo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  color: #727272;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

nav .active a,
nav a:hover {
  background-color: #09a8f8;
  color: #ffffff;
}

#banner {
  background-image: url("../assets/humanizada.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 610px;
}
.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_headline h1 {
  color: #146bce;
  font-size: 60px;
  text-shadow: 0px 2px 2px #ffffff;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.banner_headline h2 {
  color: #146bce;
  font-size: 20px;
  text-shadow: 0px 0px 2px #ffffff;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 5px;
}

.banner_options {
 
  height: 170px;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
}
.banner1 {
  background-color: #09a8f8;
}
.banner2 {
  background-color: #146bce;
}
.banner3 {
  background-color: #073b77;
}
.banner_title {
  font-size: 18px;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 10px;
}

.banner_texto {
  font-size: 15px;
  color: #ffffff;
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.banner_options a {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 15px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 7px;
}

.banner_horario {
  border-bottom: 3px solid #09a8f8;
  font-size: 15px;
  color: #ffffff;
  margin: 17px;
  padding: 3px;
}

#geral {
  display: flex;
  justify-content: center;
  height: 100px;
}

#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}

.parte2_title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.parte2_title_text {
  color: #073b77;
  font-size: 21px;
  font-weight: bold;
  margin-left: 6px;
}
.parte2_title_barra {
  width: 65px;
  height: 4px;
  background-color: #09a8f8;
  margin-top: 10px;
  margin-left: 6px;
}
.flex {
  display:flex;
  flex-wrap: wrap;
}
article{
  flex:1;
  min-width: 170px;
  margin-right: 19px;
}
article a{
  text-decoration: none;
}
article .nova_data{
  display:flex;
}
article .novo_post, .novo_comentario{
  background-color: #073b77;
  font-size: 14px;
  color:#ffffff;
  padding: 10px;
  margin-top:20px;
  margin-right: 2px;
  
}
article .novo_comentario{
  background-color: #09a8f8;
}

article .nova_imagem{
  margin-top: 30px;
}
article .nova_imagem img{
  width: 100%;
  height: auto;
}
article .novo_titulo{
  margin-top:25px;
  margin-bottom: 25px;
  color: #000000;
  text-transform: uppercase;
  font-size:25px;
}
article .novo_resumo{
  font-size: 15px;
  color: #4e4c4c;
  line-height: 20px;
  margin-bottom: 30px;
}


aside a {
  width: 15px;
  height: 4px;
  background-color: #073b77;
  text-decoration: none;
  color: #09a8f8;
  font-size: 15px;
  font-weight: bold;
  
}
aside a:hover {
  color: #073b77;
}

.parte2_botao {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #09a8f8;
  margin-top: 25px;
  padding: 15px;
  font-size: 15px;
  border-radius: 7px;
}

.parte2_botao:hover {
  background-color: #073b77;
}
.novo_post{
  background-color: #073b77;
}